#cursor{
  $lengthCursor : 4rem;
  --opacity-cursor : .15;
  background-color: var(--color-primary);
  opacity: var(--opacity-cursor);
  border-radius: $lengthCursor;
  width: $lengthCursor;
  height: $lengthCursor;
  margin-top : -(calc($lengthCursor / 2));
  margin-left : -(calc($lengthCursor / 2));
  position: fixed;
  top: 0;
  left: 0;
  pointer-events: none;
}

#particles{
  width: 100vw;
  height: 100vh;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate3d(-50%, -50%, 0);
  pointer-events: none;
  z-index: -1;

  svg * {
    transform-box: fill-box;
    transform-origin: center center;
  }
}


