- var title = "Cursors emitter | Marlène BRUHAT | Marvinx | Creative Developer"
- var imgDir = "images/"

head
  meta(charset="UTF-8")
  meta(name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0")
  meta(name="description" content=title)
  link(rel="icon" type="image/png" href=imgDir+"favicon.png")
  link(rel="prefetch" href=googleFontsUrl as="font")
  link(href="https://fonts.googleapis.com/css2?family=Inter:wght@600&display=swap" rel="stylesheet")
  link(type="text/css" rel="stylesheet" href="styles/_styles.scss")
  title= title
