block vars
  - var nbrCursors = 4;

mixin setContainerCursor(number)
  section(class="cursor-container" id="cursor-"+number)

doctype html
html(lang="en")
  include head

  body
    include header

    main(role="main" id="swup")
      block main

    include footer

    script(type="module" src="index.js")
