block vars
  - var cursors = ["Waves", "Trail", "Tube", "Mask"]

mixin setContainerCursor(number)
  section(class="cursor-container" id="cursor-"+number)

doctype html
html(lang="en")
  include head

  body
    #swup
      include header

      main(role="main")
        block main

    script(type="module" src="index.js")
