extends partials/layout

append main
  #particles.particles-1

    //- - var idParticles = "blur-particle";

    //- svg(width="1264" height="1264" style="background-color : blue")
    //-   defs
    //-     filter(id=idParticles x="-100%" y="-100%" width="512%" height="512%")
    //-       feGaussianBlur(in="SourceGraphic" stdDeviation="80")
    //-   g(filter="url(#"+idParticles+")")
    //-     circle(r="150" cx="50%" cy="50%" fill="red")
